.App {
    font-family: $primary-font;
    padding: 3rem 2rem;

    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    p {
        font-family: $secondary-font;
        font-size: 2rem;
        text-align: justify;
    }
    
}

.content-container {
    max-width: 832px;
    margin: 0 auto;
}

.theme--light {
    background-color: white;
    color: black;
    transition: background-color 1s ease;
    transition: color .5s ease;

    a {
        color:black;
        transition: background-color 0.5s ease;
    transition: color 1s ease;
    }
}

.theme--dark {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
    transition: color 1s ease;

    a {
        color:white;
        transition: background-color 0.5s ease;
    transition: color 1s ease;
    }

    li {
        color:white;
        transition: background-color 0.5s ease;
    transition: color 1s ease;
    }
}


